* {
    font-family: 'Montserrat', sans-serif;
}

.dashboard-container {
    font-family: 'Montserrat', sans-serif;
    padding-left: 5%;
}

.dashboard-container h1 {
    font-size: 30px;
    color: #333;
}

.dashboard-container p {
    color: #333;
    font-size: 20px;
}

.dashboard-container button {
    background-color: #60D140;
    margin-top: 1%;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dashboard-container button:not(:first-child) {
    margin-left: 1%;
}

.dashboard-container button:hover {
    background-color: #4caf50;
}

.hero-section {
    background-image: url('https://wallpapercave.com/wp/wp3105346.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(96, 209, 64, 0.6), rgba(255, 255, 255, 1));
}

.hero-content {
    position: relative;
    z-index: 0;
    padding-left: 5%;
}

.hero-content h1 {
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    fontSize: 15px;
    fontFamily: 'Montserrat', sans-serif;
    textAlign: center;
    color: black;
}

.user-profile {
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-card {
    display: flex;
    align-items: center;
}

.user-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    margin-left: 20px;
}


.user-info h1 {
    font-size: 30px;
    color: #333;
    line-height: 0.5;
}

.user-info p {
    color: #333;
    font-size: 20px;
}

.user-actions button {
    background-color: #60D140;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.user-actions .btn-logout {
    background-color: #d14040;
}

.user-actions .btn-logout:hover {
    background-color: #af4c4c;
}

.user-actions button:not(:first-child) {
    margin-left: 10px;
}

.user-actions button:hover {
    background-color: #4caf50;
}
